@model SistemaVoto.Modelos.Provincia
<h2>Nueva Provincia</h2>
<form asp-action="CrearProvincia" method="post">
    <div class="form-group">
        <label>Nombre de la Provincia</label>
        <input asp-for="Nombre" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-success mt-2">Guardar</button>
</form>